{
  "extends": "fs",
  "parser": "babel-eslint",
  "env": {
	"browser": true,
	"node": true,
	"es6": true
  },
  "ecmaFeatures": {
	"arrowFunctions": true
  },
  "rules": {
      "comma-dangle": ["error", "always-multiline"],
  }
}
